@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");

@font-face {
  font-family: "Kaushan-Script-Regular";
  src: url("./kaushan-script/KaushanScript-Regular.otf") format("opentype");
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

a {
  color: lightblue;
}

/* header */

.header {
  background-color: white;
  position: fixed;
  width: 100%;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: white;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px dashed grey;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: orange;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: orange;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: orange;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* latest news */

.news > p {
  background-color: rgb(254, 255, 251);
  padding: 50px;
  width: 250px;
  border-radius: 50%;
  margin: 0 auto;
  text-align: center;
  color: rgb(35, 115, 142);
  font-kerning: auto;
  font-style: italic;
  font-size: 30px;
  font-family: "Shadows Into Light", cursive;
}

img {
  padding: 20px;
  border-radius: 50%;
  width: 100px;
  display: block;
  margin: 0 auto;
}

/* articles container */

#container {
  display: flex;
  width: 70%;
  flex-flow: row wrap;
  align-items: center;
  margin: 0 auto;
  background-color: rgb(111, 194, 210);
}

.box {
  background-color: white;
  margin: 10px;
  border: 3px solid grey;
}

p {
  text-align: center;
  font-style: italic;
  padding-top: 0px;
}

/* text styling */

.transport {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 15px;
}

/* flexbox */

.one {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 10px;
  width: 300px;
  height: 500px;
  font-size: 30px;
  text-align: center;
}

.two {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 10px;
  width: 300px;
  height: 500px;
  font-size: 30px;
  text-align: center;
}

.three {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 10px;
  width: 300px;
  height: 500px;
  font-size: 30px;
  text-align: center;
}

.four {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 10px;
  width: 300px;
  height: 500px;
  font-size: 30px;
  text-align: center;
}

.five {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 10px;
  width: 300px;
  height: 500px;
  font-size: 30px;
  text-align: center;
}

.six {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 10px;
  width: 300px;
  height: 500px;
  font-size: 30px;
  text-align: center;
}

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
