@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");

@font-face {
  font-family: "Kaushan-Script-Regular";
  src: url("./kaushan-script/KaushanScript-Regular.otf") format("opentype");
}

.intro {
  background-color: rgb(111, 194, 210);
  padding: 60px;
  color: white;
  font-family: "Kaushan-Script-Regular";
  font-size: 36px;
}

.resources > p {
  background-color: rgb(254, 255, 251);
  padding: 40px;
  width: 250px;
  border-radius: 50%;
  margin: 0 auto;
  text-align: center;
  color: rgb(35, 115, 142);
  font-kerning: auto;
  font-style: italic;
  font-size: 30px;
  text-align: center;
  font-family: "Shadows Into Light", cursive;
}

img {
  padding: 20px;
  border-radius: 50%;
  height: 200px;
  display: block;
  float: left;
}

.container {
  float: left;
  text-align: left;
  padding: 20px;
  width: 700px;
  overflow: auto;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.footer {
  float: right;
}

#nextfooter {
  float: right;
  color: green;
}
