@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");

@font-face {
  font-family: "Kaushan-Script-Regular";
  src: url("./kaushan-script/KaushanScript-Regular.otf") format("opentype");
}

a {
  color: lightblue;
}

/* header */

.header {
  background-color: white;
  position: fixed;
  width: 100%;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: white;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px dashed grey;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: orange;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: orange;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: orange;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* ux title */

.resources {
  padding: 120px;
  padding-bottom: 10px;
  text-align: center;
  background-color: rgb(254, 255, 251);
  color: rgb(35, 115, 142);
  font-style: italic;
  font-family: "Shadows Into Light", cursive;
  font-size: 30px;
}

/* date */

#date {
  text-align: center;
  font-style: italic;
}

/* image */

img {
  padding: 90px;
  padding-right: 10px;
  border-radius: 50%;
  height: 200px;
  display: inline-block;
  float: left;
}

/* text */
.container {
  margin-top: 20px;
  padding-right: 50px;
  float: right;
  width: 400px;
  text-align: left;
}

/* footer */

.footer {
  float: right;
}

/* featured footer */

#nextfooter {
  padding-bottom: 10px;
  float: right;
  color: green;
}

@media (min-width: 48em) {
  .header li {
    float: left;
  }

  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }

  .resources {
    padding-top: 130px;
    margin-left: 500px;
    width: 250px;
  }

  #date {
    margin-left: 60px;
  }

  .container {
    margin-top: 110px;
    width: 870px;
  }

  #nextfooter {
    padding-bottom: 0px;
  }
}
