@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");

@font-face {
  font-family: "Kaushan-Script-Regular";
  src: url("./kaushan-script/KaushanScript-Regular.otf") format("opentype");
}

#myHeader {
  padding: 100px;
  text-align: center;
  font-weight: bold;
  font-size: 70px;
}

.header {
  font-style: normal;
  text-align: center;
}

.designer {
  font-size: 50px;
}

h3 {
  font-weight: 300;
  text-align: center;
  font-size: 40px;
}

.intro {
  background-color: rgb(111, 194, 210);
  padding: 20px;
  color: white;
  font-family: "Kaushan-Script-Regular";
  font-size: 36px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 8px 40%;
  margin: 1px;
}

.navbar > li {
  font-family: "Shadows Into Light", cursive;
  font-size: 20px;
  font-weight: bold;
  list-style: none;
}

.navbar > li a {
  text-align: center;
  text-decoration: none;
}

.navbar > li a:hover {
  color: green;
}

.resources > p {
  background-color: rgb(254, 255, 251);
  padding: 40px;
  width: 250px;
  border-radius: 50%;
  margin: 0 auto;
  text-align: center;
}

.list > li {
  font-family: "Shadows Into Light", cursive;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  width: 120px;
  list-style: none;
}

hr {
  margin: 40px;
}

p {
  color: rgb(35, 115, 142);
  font-kerning: auto;
  font-style: italic;
  font-size: 30px;
  text-align: center;
  font-family: "Shadows Into Light", cursive;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

img {
  border-radius: 50%;
  height: 200px;
  display: block;
  margin: 0 auto;
}

#button1 {
  background-color: rgb(111, 165, 226);
  display: block;
  margin: 0 auto;
  color: rgb(252, 250, 250);
  font-size: 16px;
  cursor: pointer;
}

@media only screen and (max-width: 550px) {
  #menu {
    width: 35px;
    height: 30px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
  }

  .bar {
    height: 5px;
    width: 100%;
    background-color: green;
    display: block;
    border-radius: 5px;
  }

  #bar1 {
    transform: translateY(-4px);
  }

  #bar3 {
    transform: translateY(4px);
  }

  .navbar {
    display: none;
  }

  hr {
    display: none;
  }
}
